.AboutMain2-all{
    background-color: #7EB693;
    padding: 200px 0px;
    margin-bottom: 84px;

}
.AboutMain2-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.AboutMain2-header h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 800;
}
.AboutMain2-header button{
    display: flex;
    gap: 10px;
    padding: 28px 39px 28px 39px;
    background-color: #EFD372;
    border: none;
    color: #274C5B;
    font-weight: 700;
    font-size: 20px;
    border-radius: 16px;
    align-items: center;

}
.AboutMain2-Card{
    margin-top: 50px;
    display: flex;
    gap: 15px;
    /* flex-wrap: wrap; */
}
.Card{
    width: 335px;
    height: 483px;
    border-radius: 30px;
    background-color: #F9F8F8;
    padding: 29px 21.35px  12px  21.35px;
}
.Card img{
    width: 292.42px;
    height: 361.45px;
    
}
.category-name{
    width: 72px;
    padding: 5px 12px 6px 12px;
    border: none;
    background-color: #274C5B;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.Card h4{
     text-align: center;
     color: #274C5B;
     font-size: 20px;
     font-weight: 600;
}
.Card hr{
    border: 1px solid #DEDDDD;
    margin-top: -0.5px;
}